extends ../base/layout

block variables
  - const title = "Email Campaign Checkout — Self Service Marketplace"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = "header--shadow"
  - const hasAuth = true
  - const hasFooter = true
  - const footerMods = ""
  - const currentPage = ""

block main
  main
    .page-content
      section.service
        h1.visually-hidden!="Email Campaign Checkout"
        .page-content__intro.page-content__intro--checkout
          .container
            .page-content__container
              .page-content__breadcrumbs
                +breadcrumbs(breadcrumbsPath, "emailCampaignCheckout")
              p.page-content__description.page-content__description--checkout!="Please review and confirm all details are correct"
              .page-content__buttons.page-content__buttons--checkout
                +btn("Guidance & Q+A", {name: 'icon-guidance', width: 24, height: 24}, "a").page-content__guidance.btn--medium.btn--blue.btn--hover-bc-summer-sky(href="#")
                +link("#", "See how it works", "icon").page-content__link
              +steps(stepsPath, "checkout").steps--mobile-hidden
        +description-list(serviceInfo.emailCampaignCheckout)
        +email-templates(emailTemplates.emailCampaignCheckout, "checkout")
        +description-list(icpInfo.emailCampaignCheckout).description-list--icp-info
        +back-and-payment
block modals
