extends ../base/layout

block variables
  - const title = "Webinar Traffic — Self Service Marketplace"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = "header--shadow"
  - const hasAuth = true
  - const hasFooter = true
  - const footerMods = ""
  - const currentPage = ""

block main
  main
    .page-content
      section.service
        h1.visually-hidden!="Webinar traffic"
        .page-content__intro
          .container
            .page-content__container
              .page-content__breadcrumbs
                +breadcrumbs(breadcrumbsPath, "webinarTraffic")
              p.page-content__description!="Webinars are an essential component of Marketing Campaigns. Create a custom prospect list and launch a drip email marketing campaign to invite relevant prospects to your webinar in three simple steps."
              .page-content__buttons
                +btn("Guidance & Q+A", {name: 'icon-guidance', width: 24, height: 24}, "a").page-content__guidance.btn--medium.btn--blue.btn--hover-bc-summer-sky(href="#")
                +link("#", "See how it works", "icon").page-content__link
              +steps(stepsPath, "details").steps--mobile-hidden
        .service__form
          form(method="post" action="https://echo.htmlacademy.ru")
            +service-info(serviceInfo.webinarTraffic)
            +email-templates(emailTemplates.webinarTraffic)
            +icp-info(icpInfo.webinarTraffic)
            +back-and-payment
block modals
