.account__breadcrumbs {
  margin-bottom: 66px;

  @include vp--1919 {
    margin-bottom: 31px;
  }

  @include vp--1359 {
    margin-bottom: 51px;
  }

  @include vp--719 {
    margin-bottom: 33px;
  }
}

.account__title {
  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
  color: $color-eclipse;
  margin: 0 0 23px 0;

  @include vp--1919 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 14px;
  }
}

.account__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  row-gap: 30px;
  list-style: none;

  @include vp--1359 {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 55px;
  }
}

.account__content {
  color: $color-dodger-blue;
  font-size: 18px;
  line-height: 35px;
  font-weight: 600;
}

.account__svg {
  width: 74px;
  height: 74px;

  @include vp--1919 {
    width: 54px;
    height: 54px;
  }
}

.account__item {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 29px;
  max-width: 417px;
  width: 100%;
  align-items: center;

  &:nth-child(3n+1) {
    justify-self: start;
  }

  &:nth-child(3n+2) {
    justify-self: center;
  }

  &:nth-child(3n+3) {
    justify-self: end;
  }

  @include vp--1919 {
    max-width: 290px;
    column-gap: 14px;
  }

  @include vp--1359 {
    max-width: 300px;
    column-gap: 23px;

    &:nth-child(3n+1) {
      justify-self: start;
    }

    &:nth-child(3n+2) {
      justify-self: start;
    }

    &:nth-child(3n+3) {
      justify-self: start;
    }
  }

  @include vp--719 {
    max-width: 285px;
  }
}

.account__dotted {
  margin-bottom: 18px;

  @include vp--1919 {
    margin-bottom: 7px;
  }
}
