include ../data/header
include ../data/footer
include ../data/intro
include ../data/card-service
include ../data/about
include ../data/card-rating
include ../data/card-price
include ../data/login
include ../data/breadcrumbs
include ../data/steps
include ../data/service-info
include ../data/email-templates
include ../data/icp-info
include ../data/account
include ../data/upload-file
include ../data/table
