include ../mixins/basic/sprite
include ../mixins/basic/icon
include ../mixins/basic/img
include ../mixins/basic/picture
include ../mixins/basic/picture-cropping
include ../mixins/basic/btn-tag
include ../mixins/basic/link
include ../mixins/modals/modal-feedback
include ../mixins/modals/modal-success
include ../mixins/components/slider
include ../mixins/components/btn
include ../mixins/components/logo
include ../mixins/components/intro
include ../mixins/components/card-service
include ../mixins/components/services
include ../mixins/components/about
include ../mixins/components/card-rating
include ../mixins/components/pricing
include ../mixins/components/card-price
include ../mixins/components/dotted
include ../mixins/components/breadcrumbs
include ../mixins/components/steps
include ../mixins/components/service-info
include ../mixins/components/form-input
include ../mixins/components/email-templates
include ../mixins/components/custom-select
include ../mixins/components/icp-info
include ../mixins/components/back-and-payment
include ../mixins/components/upload-file
include ../mixins/components/table
include ../mixins/components/login
include ../mixins/components/form-sign-in
include ../mixins/components/form-sign-up
include ../mixins/components/breadcrumbs
include ../mixins/components/conditions
include ../mixins/components/status
include ../mixins/components/choices-select
include ../mixins/components/description-list
