$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba($color-default-white, 0);
$color-denim:                       #2360b1;
$color-eclipse:                     #383838;
$color-eclipse-2:                   rgba(56, 56, 56, 0.3);
$color-grey:                        #828282;
$color-mischka:                     #9ea0a5;
$color-silver:                      #bdbdbd;
$color-summer-sky:                  #2d9cdb;
$color-summer-sky-2:                #2fa9ed;
$color-summer-sky-3:                rgba(45, 156, 219, 0.5);
$color-columbia-blue:               #9dd8f9;
$color-dodger-blue:                 #2f80ed;
$color-silver:                      #bdbdbd;
$color-silver-2:                    #c4c4c4;
$color-dark-grey:                   #adadad;
$color-snow:                        #fafafa;
$color-solitude:                    #e9edf4;
$color-slate-grey:                  rgba(110, 129, 150, 0.4);
$color-white-smoke:                 #f2f2f2;
$color-lima:                        #80b122;
$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);
$grey-to-right:                     linear-gradient(to right, $color-grey 10%, $color-transparent 0%);
$white-to-right:                    linear-gradient(to right, $color-default-white 10%, $color-transparent 0%);
$font-family--montserrat:           "Montserrat", "Arial", sans-serif;
$trans--100:                        0.1s ease;
$trans--300:                        0.3s ease;
$trans--600:                        0.6s cubic-bezier(0.55, 0, 0.1, 1);
$vp--320:                           320px;
$vp--375:                           375px;
$vp--720:                           720px;
$vp--768:                           768px;
$vp--1024:                          1024px;
$vp--1200:                          1200px;
$vp--1360:                          1360px;
$vp--1440:                          1440px;
$vp--1920:                          1920px;
$padding--desk:                     200px;
$padding--1919:                     90px;
$padding--1359:                     20px;
$padding--719:                      10px;
$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
