-
  const about = {
    title: "ABOUT MARTAL",
    desc: "Martal Group is a top lead generation & sales agency servicing B2B tech companies. We help you scale your tech company faster by skipping the prospecting process with our B2B sales qualified leads generated and vetted by top North American sales executives.",
    sub: "Interested in our fully managed service?",
    link: {
      href: "#",
      text: "Go to website"
    },
  }
