-
  var account = [
    {
      svg: "billing",
      title: "Billing Details",
      link: "",
    },
    {
      svg: "invoices",
      title: "View invoices",
      link: "",
    },
    {
      svg: "credentials",
      title: "Update Credentials",
      link: "",
    },
  ]
