-
  var breadcrumbsPath = {
    webinarTraffic: [
      {
        name: "Main",
        link: "./main.html"
      },
      {
        name: "Webinar Traffic",
      },
    ],
    webinarCheckout: [
      {
        name: "Main",
        link: "./main.html"
      },
      {
        name: "Checkout",
      },
    ],
    emailCampaign: [
      {
        name: "Main",
        link: "./main.html"
      },
      {
        name: "Email Campaign",
      },
    ],
    emailCampaignCheckout: [
      {
        name: "Main",
        link: "./main.html"
      },
      {
        name: "Checkout",
      },
    ],
    qualifyLeads: [
      {
        name: "Main",
        link: "./main.html"
      },
      {
        name: "Qualify Leads",
      },
    ],
    qualifyLeadsCheckout: [
      {
        name: "Main",
        link: "./main.html"
      },
      {
        name: "Checkout",
      },
    ],
    account: [
      {
        name: "Main",
        link: "./main.html"
      },
      {
        name: "Account",
      },
    ],
    linkedinFollowers: [
      {
        name: "Main",
        link: "./main.html"
      },
      {
        name: "Linkedin Followers",
      },
    ],
    linkedinFollowersCheckout: [
      {
        name: "Main",
        link: "./main.html"
      },
      {
        name: "Checkout",
      },
    ],
    projects: [
      {
        name: "Main",
        link: "./main.html"
      },
      {
        name: "Projects",
      },
    ],
  }
