-
  var cardPricingList = [
    {
      title: 'Get LinkedIN followers',
      text: '100 followers - <b>50 USD</b><br> 250 followers -  <b>100 USD</b><br> 500 followers -  <b>200 USD</b>',
    },
    {
      title: 'Qualify<br> Leads',
      text: '<b>250$ - 500$</b> / campaign<br> (up to 5000 prospects)',
    },
    {
      title: 'Email marketing campaign',
      text: '<b>300$ - 600$</b> / campaign<br> (up to 5000 prospects)',
    },
    {
      title: 'Webinar<br> Traffic',
      text: '<b>300$ - 600$</b> / campaign<br> (up to 5000 prospects)',
    },
  ]
