-
  var cardServiceList = {
    main: [
      {
        iconName: 'icon-linkedin',
        title: 'Get LinkedIN<br> followers',
        lead: 'LinkedIN<br> Followers',
        text: 'Grow your business by&nbsp;expanding Linkedin followers base.',
      },
      {
        iconName: 'icon-list',
        title: 'Qualify<br> Leads',
        lead: 'Research and Qualify<br> Leads',
        text: 'Get a&nbsp;validated custom prospect list that fits your ideal customer profile.',
      },
      {
        iconName: 'icon-mail',
        title: 'Email marketing campaign',
        lead: 'Email marketing Campaign',
        text: 'Create content for a&nbsp;Drip Campaign and send it&nbsp;to&nbsp;a&nbsp;custom prospect list, inviting your prospects to&nbsp;book a&nbsp;discovery call.',
      },
      {
        iconName: 'icon-arrow-up',
        title: 'Get Webinar<br> Registrations',
        lead: 'Invite Relevant Prospects to&nbsp;a&nbsp;Webinar',
        text: 'Create a custom prospect list and launch a drip email marketing campaign to invite relevant prospects to your webinar.',
      },
    ],
    projects: [
      {
        iconName: 'icon-linkedin',
        title: 'Get LinkedIN<br> followers',
        lead: 'LinkedIN<br> Followers',
        text: 'Grow your business by&nbsp;expanding Linkedin followers base.',
      },
      {
        iconName: 'icon-list',
        title: 'Qualify<br> Leads',
        lead: 'Research and Qualify<br> Leads',
        text: 'Get a&nbsp;validated custom prospect list that fits your ideal customer profile.',
      },
      {
        iconName: 'icon-mail',
        title: 'Email marketing campaign',
        lead: 'Email marketing Campaign',
        text: 'Create content for a&nbsp;Drip Campaign and send it&nbsp;to&nbsp;a&nbsp;custom prospect list, inviting your prospects to&nbsp;book a&nbsp;discovery call.',
      },
      {
        iconName: 'icon-arrow-up',
        title: 'Get Webinar<br> Traffic',
        lead: 'Invite Relevant Prospects to&nbsp;a&nbsp;Webinar',
        text: 'Create a custom prospect list and launch a drip email marketing campaign to invite relevant prospects to your webinar.',
      },
    ],
  }
