-
  const footer = {
    copyright: "Copyright © 2009 – 2021.<br>All rights reserved.",
    links: [
      {
        href: "#",
        text: "Terms of Service"
      },
      {
        href: "#",
        text: "Contact Us"
      },
    ],
  }
