-
  var headerData = [
    {
      href: "#services",
      text: "Services"
    },
    {
      href: "#about",
      text: "About us"
    },
    {
      href: "#pricing",
      text: "Pricing"
    },
  ]
