-
  var intro = {
    title: "Self Service marketplace for <strong>B2B Lead Generation</strong>",
    text: "Understand how lead generation can blend into your company’s sales playbook and start generating B2B leads now",
    link: {
      href: "#",
      text: "How it works"
    },
    advantages: [
      {
        text: "<strong>FULLY AUTOMATED</strong> DRIP CAMPAIGNS",
      },
      {
        text: "<strong>12 YEARS</strong> IN BUSINESS",
      },
      {
        text: "<strong>2.000.000 + LEADS</strong> CREATED ANNUALLY",
      },
    ],
    brandsImages: [
      {
        path: "content/brands",
        name: "brand1",
        format: "png",
        width: "97",
        height: "80",
        altText: "img1"
      },
      {
        path: "content/brands",
        name: "brand2",
        format: "png",
        width: "113",
        height: "80",
        altText: "img2"
      },
      {
        path: "content/brands",
        name: "brand3",
        format: "png",
        width: "120",
        height: "47",
        altText: "img3"
      },
      {
        path: "content/brands",
        name: "brand4",
        format: "png",
        width: "217",
        height: "153",
        altText: "img4"
      },
      {
        path: "content/brands",
        name: "brand5",
        format: "png",
        width: "120",
        height: "60",
        altText: "img5"
      },
      {
        path: "content/brands",
        name: "brand6",
        format: "png",
        width: "170",
        height: "31",
        altText: "img6"
      },
      {
        path: "content/brands",
        name: "brand7",
        format: "png",
        width: "186",
        height: "57",
        altText: "img7"
      },
      {
        path: "content/brands",
        name: "brand8",
        format: "png",
        width: "161",
        height: "51",
        altText: "img8"
      },
      {
        path: "content/brands",
        name: "brand9",
        format: "png",
        width: "53",
        height: "71",
        altText: "img9"
      },
      {
        path: "content/brands",
        name: "brand10",
        format: "png",
        width: "118",
        height: "51",
        altText: "img10"
      },
      {
        path: "content/brands",
        name: "brand11",
        format: "png",
        width: "289",
        height: "85",
        altText: "img11"
      },
    ],
    description: {
      title: "Scale your company faster",
      text: "and skip the prospecting process with our Marketplace. Martal’s Self Service Marketplace is a platform designed for launching email campaigns, booking appointments, driving registrations for webinars and gaining LinkedIN followers. The Marketplace workflow is automated and enabled by our trained Martal sales teams."
    },
  }
