-
  var stepsPath = {
    details: [
      {
        name: "Details",
        active: "true",
      },
      {
        name: "Sign up / Sign in",
      },
      {
        name: "Checkout",
      },
    ],
    signIn: [
      {
        name: "Details",
      },
      {
        name: "Sign up / Sign in",
        active: "true",
      },
      {
        name: "Checkout",
      },
    ],
    checkout: [
      {
        name: "Details",
      },
      {
        name: "Sign up / Sign in",
      },
      {
        name: "Checkout",
        active: "true",
      },
    ],
  }
