-
  var table = {
    projects: {
      buttons: [
        {
          text: "Type of task",
        },
        {
          text: "Start date",
          action: "start",
          arrow: "up",
        },
        {
          text: "Due date",
          action: "due",
          arrow: "down",
        },
        {
          text: "Status",
          action: "status",
          arrow: "down",
        },
      ],
      items: [
        {
          type: "Webinar traffic",
          start: "10 Nov 2021",
          startYear: "2021",
          startMonth: "11",
          startDay: "10",
          due: "24 Nov 2021",
          dueYear: "2021",
          dueMonth: "11",
          dueDay: "24",
          status: "progress",
          statusText: "In progress",
        },
        {
          type: "Webinar traffic",
          start: "12 Nov 2021",
          startYear: "2021",
          startMonth: "11",
          startDay: "12",
          due: "26 Nov 2021",
          dueYear: "2021",
          dueMonth: "11",
          dueDay: "26",
          status: "done",
          statusText: "Done",
        },
        {
          type: "Webinar traffic",
          start: "14 Nov 2021",
          startYear: "2021",
          startMonth: "11",
          startDay: "14",
          due: "27 Nov 2021",
          dueYear: "2021",
          dueMonth: "11",
          dueDay: "27",
          status: "progress",
          statusText: "In progress",
        },
        {
          type: "Webinar traffic",
          start: "11 Nov 2021",
          startYear: "2021",
          startMonth: "11",
          startDay: "11",
          due: "25 Nov 2021",
          dueYear: "2021",
          dueMonth: "11",
          dueDay: "25",
          status: "progress",
          statusText: "In progress",
        },
      ],
    }
  }
